name: Update THM Stats
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Update Badge
        uses: p4p1/tryhackme-stats-card-action@main
        with:
          username: r9ruben
